.App-header {
    color: white;
    text-align: center;
}

.mystyle {
    color: white;
    text-decoration: line-Through;
    opacity: 0.5
}

.footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 2px;
}